
.icon-wrench:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-chart-bar:before { content: '\e803'; } /* '' */
.icon-logout:before { content: '\f02d'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */