{% extends 'settings_form_base.html' %}

{% block title %}Edit Expense Category{% endblock %}

{% block footer %}
	{{ parent() }}
	
    <script>
        $(document).ready(function() {

            var categoryId = '{{ expense.id }}';

            /**
             * Validate the form
             */
            $('#formExpenseCategoryEdit').validate({
                rules: {
                    expenseCategoryNewName: {
                        required: true,
                        remote: {
                            url: '/expense/validate-category',
                            data: {
                                ignore_id: function() {
                                    return categoryId;
                                }
                            }
                        }
                    },
					expenseCategoryNewLimit: {
                        required: true,
                        min: 0,
						number: true
                    }
                },
                messages: {
                    expenseCategoryNewName: {
                        remote: 'There is already expense category with such a name'
                    }
                }
            });
        });
    </script>

{% endblock %}

{% block settings_form %}

    <div class="py-5 text-center">
		<h2>Edit expense category</h2>
	</div>

    <form class="settings-form" method="post" id="formExpenseCategoryEdit" action="/profile/expenseCategoryUpdate">
		<input type="hidden" id="expenseCategoryIdToEdit" name="expenseCategoryIdToEdit" value="{{ expense.id }}">
        <div class="form-group">
            <label for="expenseCategoryNewName">Expense category name</label>
            <input id="expenseCategoryNewName" name="expenseCategoryNewName" placeholder="Expense category name" value="{{ expense.name }}" required class="form-control" />
        </div>
		<div class="form-group">
            <label for="expenseCategoryLimitEnabled">Limit enabled</label>
            <input type="checkbox" id="expenseCategoryLimitEnabled" name="expenseCategoryLimitEnabled" {% if expense.limit_enabled %}checked="checked"{% endif %} />
        </div>
		<div class="form-group">
            <label for="expenseCategoryNewLimit">Limit</label>
            <input type="number" class="form-control" id="expenseCategoryNewLimit" name="expenseCategoryNewLimit" value="{{ expense.expense_category_limit }}" required />
        </div>
		<div class="form-group row">
			<div class="col-6 text-left">
				<button class="btn btn-danger btn-sm" onclick="location.href='/profile/show'" type="button">Cancel</button>
			</div>
			<div class="col-6 text-right">
				<button type="submit" class="btn btn-success btn-sm">Save</button>
			</div>
		</div>
    </form>

{% endblock %}
