{% extends "settings_form_base.html" %}

{% block title %}Settings{% endblock %}

{% block body %}
	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <p>You are about to delete <b><i class="title"></i></b> record, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger btn-ok">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <script>
		$.extend({
			redirectPost: function(location, args)
			{
				var form = '';
				$.each( args, function( key, value ) {
					form += '<input type="hidden" name="'+key+'" value="'+value+'">';
				});
				$('<form action="'+location+'" method="POST">'+form+'</form>').appendTo('body').submit();
			}
		});
		
        $('#confirm-delete').on('click', '.btn-ok', function(e)
		{
            var $modalDiv = $(e.delegateTarget);
            var id = $(this).data('recordId');
			var recordCategory = $(this).data('recordCategory');
			var removeUrl = "";
			if(recordCategory == "income")
			{
				removeUrl = "/profile/income-category-remove";
			} else if (recordCategory == "expense")
			{
				removeUrl = "/profile/expense-category-remove";
			} else if (recordCategory == "payment")
			{
				removeUrl = "/profile/payment-type-remove";
			}
			
            $.redirectPost(removeUrl ,{categoryId: id}).then();
        });
		
        $('#confirm-delete').on('show.bs.modal', function(e)
		{
            var data = $(e.relatedTarget).data();
            $('.title', this).text(data.recordTitle);
            $('.btn-ok', this).data('recordId', data.recordId);
			$('.btn-ok', this).data('recordCategory', data.recordCategory);
        });
    </script>
	
	<div id="settings-display" class="py-5 text-center">
		<div id="accordion">
            <div class="card">
                <div class="card-header" id="headingEditProfile">
					<h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#editProfile" aria-expanded="true" aria-controls="editProfile">
						Profile Settings
                    </button>
                  </h5>
                </div>
                <div id="editProfile" class="collapse" aria-labelledby="headingEditProfile" data-parent="#accordion">
					<div class="card-body">
						<div class="py-5 text-center">
							<h2>Profile settings</h2>
							<dl>
								<dt>Name</dt>
								<dd>{{ user.name }}</dd>
								<dt>Email</dt>
								<dd>{{ user.email }}</dd>
							</dl>
							<button class="btn btn-primary" onclick="location.href='/profile/editProfile'" type="button">Edit profile</button>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingEditIncomes">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#editIncomes" aria-expanded="false" aria-controls="editIncomes">
								Incomes Settings
							</button>
						</h5>
					</div>
					<div id="editIncomes" class="collapse" aria-labelledby="headingEditIncomes" data-parent="#accordion">
						<div class="card-body" style="text-align: center;">
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">Income category</th>
										<th scope="col" style="width: 10%"></th>
										<th scope="col" style="width: 10%"></th>
									</tr>
								</thead>
								<tbody>
									{% for income_category in income_categories %}
										<tr>
											<td>{{ income_category.name }}</td>
											<td>
												{% if income_category.name != "Another" %}
													<form action="/profile/editIncomeCategory" method="post">
														<button class="btn btn-primary" name="incomeCategoryIdToEdit" value="{{ income_category.id }}" type="submit">Edit</button>
													</form>
												{% endif %}
											</td>
											<td>
												{% if income_category.name != "Another" %}
													<button class="btn btn-danger" name="incomeCategoryIdToRemove" data-record-category="income" data-record-title="income category {{ income_category.name }}" data-record-id={{ income_category.id }}" data-target="#confirm-delete" data-toggle="modal">Remove</button>
												{% endif %}
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<button class="btn btn-primary" onclick="location.href='/profile/incomeCategoryAdd'" type="button">Add income category</button>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingEditExpenses">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#editExpenses" aria-expanded="false" aria-controls="editExpenses">
							Expenses Settings
						</button>
					</h5>
					</div>
					<div id="editExpenses" class="collapse" aria-labelledby="headingEditExpenses" data-parent="#accordion">
						<div class="card-body">
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">Expense category</th>
										<th scope="col">Limit Enabled</th>
										<th scope="col">Limit</th>
										<th scope="col" style="width: 10%"></th>
										<th scope="col" style="width: 10%"></th>
									</tr>
								</thead>
								<tbody>
									{% for expense_category in expense_categories %}
										<tr>
											<td>{{ expense_category.name }}</td>
											<td>{% if expense_category.limit_enabled %}Enabled{% else %}Disabled{% endif %}</td>
											<td>{{ expense_category.expense_category_limit }}</td>
											<td>
												{% if expense_category.name != "Another" %}
													<form action="/profile/editExpenseCategory" method="post">
														<button class="btn btn-primary" name="expenseCategoryIdToEdit" value="{{ expense_category.id }}" type="submit">Edit</button>
													</form>
												{% endif %}
											</td>
											<td>
												{% if expense_category.name != "Another" %}
													<button class="btn btn-danger" name="expenseCategoryIdToRemove" data-record-category="expense" data-record-title="expense category {{ expense_category.name }}" data-record-id={{ expense_category.id }}" data-target="#confirm-delete" data-toggle="modal">Remove</button>
												{% endif %}
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<button class="btn btn-primary" onclick="location.href='/profile/expenseCategoryAdd'" type="button">Add expense category</button>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingEditPayments">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#editPayments" aria-expanded="false" aria-controls="editPayments">
							Payments Settings
						</button>
					</h5>
					</div>
					<div id="editPayments" class="collapse" aria-labelledby="headingEditPayments" data-parent="#accordion">
						<div class="card-body">
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">Payment category</th>
										<th scope="col" style="width: 10%"></th>
										<th scope="col" style="width: 10%"></th>
									</tr>
								</thead>
								<tbody>
									{% for payment_type in payment_types %}
										<tr>
											<td>{{ payment_type.name }}</td>
											<td>
												{% if payment_type.name != "Another" %}
													<form action="/profile/editPaymentType" method="post">
														<button class="btn btn-primary" name="paymentTypeIdToEdit" value="{{ payment_type.id }}" type="submit">Edit</button>
													</form>
												{% endif %}
											</td>
											<td>
												{% if payment_type.name != "Another" %}
													<button class="btn btn-danger" name="paymentTypeIdToRemove" data-record-category="payment" data-record-title="payment type {{ payment_type.name }}" data-record-id={{ payment_type.id }}" data-target="#confirm-delete" data-toggle="modal">Remove</button>
												{% endif %}
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<button class="btn btn-primary" onclick="location.href='/profile/paymentTypeAdd'" type="button">Add payment category</button>
						</div>
					</div>
				</div>
            </div>
		</div>
    </div>
{% endblock %}
